/*
  YumeeWeb Main CSS

  Contents:
    - General
    - Navigation
    - Restaurant List
    - Footer
*/

/* General */

.text-center {
  text-align: center;
}

.page-header {
  margin-top: 0;
}

.header-button {
  float: right;
}

/* -- General */



/* Home */

.home-cover-pic {
  max-height: 300px;
  margin-top: -20px;
  margin-left: -50px;
}


.cover-pic {
  max-height: 300px;
}

/* -- Home */



/* Navigation */

.nav {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 7px;
}

.logo {
  height: 40px;
}

.navbar-form {
  .navbar-search {
    width: 200px;
  }

  input {
    margin-right: 10px;
  }

  .form-control {
    display: inline-block;
  }
}

.breadcrumb {
  background-color: #F5F5F5;

  & > .active {
    color: #505050;
  }
}

/* -- Navigation */



/* Restaurant List */

.restaurant-list {
  text-align: center;
  th {
    text-align: center;
  }
}

.new-form {
  padding-top: 20px;

  input {
    margin-bottom: 8px;
  }
}

.min-height {
  min-height: 2cm;
}

/* -- Restaurant List */



/* Restaurant */

.item-buttons {
}

/* -- Restaurant */



/* Orders */

.item-price {
  float: right;
}

.item-picture {
  position: relative;
  left: 50%;
  margin-left: -200px;
  margin-bottom: 20px;
  max-width: 400px;
  max-height: 400px;
}

.delete-order-item {
  float: right;
  position: relative;
  top: -18px;
}

/* -- Orders */



/* Footer */
footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer p {
    clear: left;
    margin-bottom: 0
}
/* -- Footer */
