<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="page-header">
          <h1>
            Great places to eat!
            {{#link-to 'restaurants.new' class="btn btn-primary btn-lg header-button"}}Add a new restaurant{{/link-to}}
          </h1>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="list-group order-list">
        {{#each model as |restaurant|}}
          {{#link-to 'restaurants.restaurant' restaurant class="list-group-item"}}
            <h4 class="list-group-item-heading">{{restaurant.name}}</h4>
            <p class="list-group-item-text">{{restaurant.description}}</p>
            <p class="list-group-item-text">{{restaurant.address}}</p>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
</div>