<span>
  {{#link-to 'restaurants.restaurant.tables.new' class="btn btn-primary btn-lg " activeClass=""}}Add a new table{{/link-to}}
</span>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Details</th>
      <th>Orders</th>
      <th>Restaurant</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.tables as |table index|}}
      <tr>
        <td>{{table.number}}</td>
        <td>{{table.details}}</td>
        <td>0</td>
        <td>{{table.restaurant.name}}</td>
        <td>{{#link-to 'restaurants.restaurant.tables.table.edit' table class="btn btn-primary btn-lg " activeClass=""}}Edit table{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>