<div class="new-itm-form">
  {{input type="text" placeholder="Number" value=number class="name-input"}}
  {{input type="text" placeholder="Details" value=details class="price-input"}}
  {{input type="text" placeholder="Orders" value=orders class="price-input"}}
  <button {{action 'addTable'}} class="submit">Submit</button>
</div>