<div class="conatiner" style="float:left">
	<div class="list-group">
	  {{#link-to 'restaurants.restaurant.data.sales' class='list-group-item' }}Sales{{/link-to}}  
	</div>
	<div class="list-group">
	  {{#link-to 'restaurants.restaurant.data.customers' class='list-group-item' }}Daily Customers{{/link-to}}  
	</div>
</div>

<div class="container">
	<div style="text-align:center">

		{{outlet}}

	</div>
</div>
