<div class="container">
  <div class="new-form">
    <form class="form-horizontal well">
      <fieldset>
        <legend>Editing item</legend>
        <div class="form-group">
          <div class="col-xs-12 col-sm-4">
            {{input type="text" placeholder="Name" value=model.name class="name-input"}}
          </div>
          <div class="col-xs-12 col-sm-4">
            {{input type="text" placeholder="Description" value=model.description class="name-input"}}
          </div>
          <div class="col-xs-12 col-sm-4">
            {{input type="text" placeholder="Price" value=model.price class="name-input"}}
          </div>
          <div class="col-xs-12 col-sm-4">
            {{#link-to 'restaurants.restaurant' class="btn btn-default" activeClass=""}}Cancel{{/link-to}}
            <button {{action 'editItem'}} class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>