<div class="new-itm-form">
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Price" value=price class="price-input"}}
  <button {{action 'addItem'}} class="submit">Submit</button>
  <strong>ID: {{controllers.restaurants/restaurant.content.name}}</strong>
</div>