<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">
        <h1>Find good food, quickly.</h1>
        <p>At Yumee we aim to help you find the best food near you and make paying for it a breeze.</p>
        <p>{{#link-to 'restaurants' class="btn btn-primary btn-lg"}}I'm Hungry{{/link-to}}</p>
      </div>
      <div class="col-sm-4 hidden-xs">
        <img src="assets/images/food.png" class="home-cover-pic"/>
      </div>
    </div>
  </div>
    <div class="main-div">
      <h3 class="favourites">Favourites</h3>
      {{#each model as |restaurant|}}
      <div class="col-sm-4">
         <div class="panel featured-panel" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{restaurant.profile_picture}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; ">
            <div class="panel-body">
               <h2 class="item-text"> {{restaurant.name}} </h2>
               <p>{{restaurant.description}}</p>
            </div>
         </div>
      </div>
      {{/each}}
   </div>
</div>