<div class="container">
  <div class="jumbotron ">
    <h1>Find good food, quickly.</h1>
    <p>At Yumee we aim to help you find the best food near you and make paying for it a breeze.</p>
    <p>{{#link-to 'restaurants' class="btn btn-primary btn-lg"}}I'm Hungry{{/link-to}}</p>
  </div>
</div>