 <div class="container restaurant-list">
  <div>
    {{#link-to 'restaurants.new' class="btn btn-primary btn-lg " activeClass=""}}Add a new restaurant{{/link-to}}
  </div>

  {{outlet}}

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Restaurant Name</th>
        <th>Email Address</th>
      </tr>
    </thead>
    <tbody>
      {{#each restaurant in model}}
        <tr>
          <td>1</td>
          <td>{{restaurant.name}}</td>
          <td>{{restaurant.email}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>